parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'displayName' on mixed\\.$#"
			count: 1
			path: tests/src/Auth/Process/GenerateDisplayNameTest.php

		-
			message: "#^Parameter \\#2 \\$array of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 1
			path: tests/src/Auth/Process/GenerateDisplayNameTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\|SimpleSAML\\\\Utils\\\\HTTP\\:\\:expects\\(\\)\\.$#"
			count: 2
			path: tests/src/Auth/Process/ValidSouthAfricanHEUserTest.php
