*
!.gitignore
!bootstrap/
!bootstrap/LICENSE
!bootstrap/dist/
!bootstrap/dist/css/
!bootstrap/dist/css/bootstrap-utilities.min.css*
!bootstrap/dist/css/bootstrap-grid.min.css*
!bootstrap/dist/css/bootstrap-reboot.min.css*
!bootstrap/dist/js/
!bootstrap/dist/js/bootstrap.min.js*
!theidentityselector--thiss-ds/
!theidentityselector--thiss-ds/LICENSE.txt
!theidentityselector--thiss-ds/dist/
!theidentityselector--thiss-ds/dist/thiss-ds.js
!fortawesome--fontawesome-free/
!fortawesome--fontawesome-free/LICENSE.txt
!fortawesome--fontawesome-free/css/
!fortawesome--fontawesome-free/css/all.min.css*
!fortawesome--fontawesome-free/webfonts/
!fortawesome--fontawesome-free/webfonts/fa-solid-900.ttf
!fortawesome--fontawesome-free/webfonts/fa-solid-900.woff2

