<?php

/*
 * Configuration for the thissdisco module
 */

$config = [
    /*
     * The base template to use. Can be one of "simplesamlphp" (to inherit from base.twig)
     * or "thissio" (to use a template derived from use.thiss.io / SeamlessAccess)
     */
    'basetemplate' => 'simplesamlphp',

    /*
     * Location of a remote metadata query (MDQ) service
     * By default we use our own SimpleSAMLphp metadata via an internal
     * endpoint. You probably only want to changes this in exceptional
     * circumstances (and then you may be better of using SeamlessAccess)
     */
    /*
    'mdq' => [
        'lookup_base' => 'https://md.thiss.io/entities/',
        // the PyFF-compatible search extension. leave unset to use lookup_base
        // 'search' => 'https://md.thiss.io/entities',
    ],
    */

    /*
     * Configuration for the persistence service
     */
    'persistence' => [
        'url' => 'https://use.thiss.io/ps/',
        'context' => 'thiss.io',

        /*
         * Alter Content-Security-Policy to allow external images?
         * Can be false to disable, true to add data: http:,
         * or a string defining the additional CSP to add to image-src
         */
        'csp_images' => true,
    ],

    /*
     * Optional URL to a page with further information
     */
    'learn_more_url' => 'https://example.org/learn-more',

    /*
     * The name of an entity selection profile ("trust profile") to use.
     * Setting this overrides any profile set on the disco URL. Note that
     * the profile itself needs to be defined in the SP metadata.
     */
    //'trustProfile' => 'sirtfi',

    /*
     * Entity selection profile ("trust profile") descriptions to include
     * in all SP metadata. This should be a PHP representation of the JSON
     * that would normally be encoded in metadata (use json_encode() if you
     * want to use the JSON form). Matching profiles declared in SP metadata
     * take precidence over globally specified ones.
     *
     * See https://refeds.org/entity-selection-profile and
     * https://seamlessaccess.atlassian.net/wiki/spaces/DOCUMENTAT/pages/1397686273/Filtering+search+results+-+indicating+which+IdP+s+are+supported
     * for info on defining trust profiles.
     */
    'entity_selection_profiles' => [
        'sirtfi' => [
            'entities' => [
                [
                    'include' => true,
                    'match' => 'assurance_certification',
                    'select' => 'https://refeds.org/sirtfi',
                ],
            ],
            'strict' => true,
        ],
    ],
];
