<?php

/*
 * Configuration for the thissdisco module
 */

$config = [
    /*
     * The base template to use. Can be one of "simplesamlphp" (to inherit from base.twig)
     * or "thissio" (to use a template derived from use.thiss.io / SeamlessAccess)
     */
    'basetemplate' => 'simplesamlphp',

    /*
     * Location of a remote metadata query (MDQ) service
     * By default we use our own SimpleSAMLphp metadata via an internal
     * endpoint. You probably only want to changes this in exceptional
     * circumstances (and then you may be better of using SeamlessAccess)
     */
    /*
    'mdq' => [
        'lookup_base' => 'https://md.thiss.io/entities/',
        // the PyFF-compatible search extension. leave unset to use lookup_base
        // 'search' => 'https://md.thiss.io/entities',
    ],
    */

    /*
     * Configuration for the persistence service
     */
    'persistence' => [
        'url' => 'https://use.thiss.io/ps/',
        'context' => 'thiss.io',

        /*
         * Alter Content-Security-Policy to allow external images?
         * Can be false to disable, true to add data: http:,
         * or a string defining the additional CSP to add to image-src
         */
        'csp_images' => true,
    ],

    /*
     * Optional URL to a page with further information
     */
    'learn_more_url' => 'https://example.org/learn-more',
];
